@import url('/styles/utils.css');
@import url('/styles/variables.css');


.home-categories{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
    gap: 1rem;
}

.banner-img{
    width: 100%;
    height: 28rem;
    max-inline-size: 100%;
    block-size: auto;
}


.categoies{
    width: 17.5rem;
}

.category-img{
    height: 20rem;
}

.bottom-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
    gap: 1rem;
}

.product-img{
    height: 14rem;
    width: 14rem;
}

/* .card-main-section{
    width: 10rem;
} */

.card{
    width: 15rem;
}