


.price-details{
    width: 20rem;
    background-color: var(--white-color);
}

.cart-page{
    background-color: var(--bg-color);
    flex-wrap: wrap;
}

.place-order-btn{
    background-color: var(--primary-color);
}

.pd{
    padding: 0.5rem 2rem;
}

.margin-0{
    margin: 2rem;
}