

.product-main-sidebar{
    display: grid;
    height: 100vh;
    grid-template-columns: 20rem 1fr;
}

.product-sidebar{
    grid-column: 1 / 2;
}

.product-main{
    grid-column: 2 / 3;
}

.product-cards{
    border-radius: 0rem;
    box-shadow: -5px 5px 5px #cbd5e1;
}

.cart-button{
    border: none;
    background-color: var(--ecom-bg-color);
}


.badge-best-seller{
    background-color: var(--ecom-bg-color);
}


.product-cards:hover{
    transition: width 2s;
}

.all-products{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(14rem,1fr));
}

.showing{
    font-size: 1.5rem;
}

.gray-cart{
    color: var(--gray-color);
}

.gray-cart:hover{
    color: var(--danger-color);
}

@media only screen and (max-width:600px)
{
    .product-main{
        grid-column: 1 / 3;
    }
    .product-sidebar{
        display: none;
    }
}